{
  "apiKey": "AIzaSyD-CUcGgOEmiKVqhsMGNi3nw0hPFKP5QSs",
  "authDomain": "refboard-21681.firebaseapp.com",
  "projectId": "refboard-21681",
  "storageBucket": "refboard-21681.firebasestorage.app",
  "messagingSenderId": "1052217843844",
  "appId": "1:1052217843844:web:d13c695547c279d832e2d1",
  "measurementId": "G-LSVG7VY51R"
}
